.Layout {
  text-align: left;
  background-color: #ff3;
}

.project {
  background-color: #eed;
  padding: 5px;
}

.projectAdd {
  padding: 10px 5px 5px 0;
}

.project:hover {
  background-color: #ddc;
  cursor: pointer;
}

